/* For Desktop Design */
.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 75%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

body{
    background-color: aliceblue;
    transition: 0.2s;
}
/* Navbar design Start from here */
.im{
    width: 80px;
    height: 80px;
}
.logo{
    text-align-last: left;
}
.Nav_Heading h1{
    text-align: center;
}
.Nav_Menu{
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.Nav_Menu a{
    /* line-height: 80px; */
    margin: 10px 8px;
    /* background-color: #0c6168; */
    padding: 10px 15px;
    background: transparent;
   
  
}
.Nav_Menu a.active,
.Nav_Menu a:hover{
    background-color: teal;
}
/* Navbar design End from here */

/* Profile design Start */
.Top_Weather_Icon{
    position: absolute;
    right: 100px;
    top: 10px;
    width: 120px;
    transition: width 2s, transform 2s;
}
.Top_Weather_Icon:hover{
    width: 150px;
}

.Profile_Desc P{
    color: gray;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Bottom_Weather_Icon{
    position: absolute;
    width: 120px;
    bottom: 20px;
    left: 140px;
    transition: width 2s, transform 2s;
}
.Bottom_Weather_Icon:hover{
    transform: rotate(-360deg);
    width: 150px;
}

.Profile::after{
    content: "";
    display: table;
    clear: both;
}
/* Profile design end */

/* About Me Design Start */
.aboutme_image{
    margin-top: 100px;
    width: 30%;
}
.img_ag{
   height: 270px;
   width: 250px;
}
.about_me_desc{
    margin-left: 30%;
}
.ago_desc{
    /* text-align: center;
    width: 70%;
    margin: 0 auto; */
    color: gold;
}
.about_me_hr_{
    margin-top: 35px;
    border: 3px solid white;
}
.about_me_desc p{
    text-align: left;
}
.cv_btn{
    transition: background-color 1s;
    /* background-color: transparent; */
    position: relative;
    /* border: 1px solid black; */
    /* overflow: hidden; */
}
/* .cv_btn span{
    position: absolute;
    width: 10%;
    height: 100%;
    bottom: 0;
    left: 0;
    transition: 1s;
    border: none;
    outline: none;
    border-radius: 12px;
    z-index: -1;
  
} */
.cv_btn:hover{
    /* background-color: teal; */
    /* width: 100%; */
    background-color: teal;
    border:none;
}
.cv_btn a{
    color: white;
}
/* About Me Design End */

/* Professional Experience Start */
/* Professional Experience End */

/* Achievement Start */
/* Button */
.Media_Button button{
    width: 100px;
}
.Media_Button{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
/* Achivement end */

/* Footer start */
.Footer{
    height: 100px;
    display: flex;
    align-items: center;
}
.Footer_Menu{
    margin-top: 12px;
}
.Footer_Menu a{
    display: inline;
}
/* Footer End */